@font-face{
    font-family: 'RobotoLight';
    font-style: normal;
    font-weight: normal;
    src: local('RobotoLight'), url('./Roboto/Roboto-Light.ttf') format('opentype');
  }

body{
    margin:0px;
    font-family: 'RobotoLight';
}

div{
    color: black;
}

a{
    text-decoration: none;
}
